    <br><br>

    <div>
        <footer>
            <p>By Edward Truong | 2025</p>
            <div style="width: 3%; display: inline-block">
                <a href="https://www.linkedin.com/in/edwardtruong3/"><img class="link-icons" src="/static/LinkedIn.png"></a>
            </div>

            <div style="width: 3%; display: inline-block">
              <a href="https://github.com/ET0505"><img class="link-icons" src="/static/GitHub.png"></a>
            </div>
        </footer>
    </div>

</html>
